version: '3.4'

services:
  api:
    image: designmojo.azurecr.io/pollposition_api
  integration:
    entrypoint: dotnet test --logger trx --results-directory /var/temp
    volumes:
      - /opt/vsts/work/_temp:/var/temp