version: '3.4'

services:
  api:
    image: designmojo.azurecr.io/pollposition_api:latest
    ports:
      - "80:80"
    environment:
      GoogleKey: AIzaSyCnEOrOAV7rdMu-8orZpkyjzglPIb3n8uE
      RedisConnectionString: redis
    depends_on:
      - redis

  redis:
    image: redis:3.2-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:  
  redis_data: