version: '3.4'

services:
  pollposition.api:
    image: designmojo.azurecr.io/pollposition.api:latest

  pollposition.integrationtests:
    entrypoint: dotnet test --logger trx --results-directory /var/temp
    volumes:
      - /home/vsts/work/_temp:/var/temp