version: '3.4'

services:
  pollposition.api:
    image: designmojo.azurecr.io/pollposition.api:latest

  pollposition.integrationtests:
    entrypoint: dotnet test -–logger trx -r /results
    volumes:
      - /opt/vsts/work/_temp:/results